{
  "station": "Luzern",
  "numberOfEntries": 8,
  "urlAPI": "http://transport.opendata.ch/v1/stationboard",
  "updateIntervallInSeconds": 10,
  "offsetInMinutes": 3,
  "transportations": [
    "ice_tgv_rj",
    "ec_ic",
    "ir",
    "re_d",
    "ship",
    "s_sn_r",
    "bus",
    "cableway",
    "arz_ext",
    "tramway_underground"
  ]
}